# This workflow will make sure the tool builds.

name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    # Install the D compiler
    - name: Prepare compiler
      uses: dlang-community/setup-dlang@v1
      with:
        compiler: ldc-latest

    # Install necessary packages
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libsodium-dev

    - name: Test compilation
      env:
        AGORA_VERSION: HEAD
      run: dub build
